html, body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%
}

.container {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}
/* 
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

button {
    height: 100%;
    width: 100%;
    line-height: 50px;
}
